@keyframes bounce {
    0%,  20%, 60%,  100%{
        -webkit-transform:  translateY(0);
        transform: translateY(0);
    }
    40%{
       -webkit-transform:  translateY(-20px);
        transform: translateY(-20px);
    }
    80%{
       -webkit-transform:  translateY(-10px);
        transform: translateY(-10px);
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #020814 ;
}

input{
    height: 40px;
    color: #ffffff;
    border-color: #19F4E7;
    border-radius: 10px;
    background-color: #020814;
}

input::placeholder{
    color: #ffffff;
}

hr{
    background-color: #19F4E7;
}

.btns{
    text-align: center;
    margin-top: 50px;
}

.efeito{
    border: none;
    color:#ffffff;
    padding: 20px;
    margin: 10px;
    font-size: 24px;
    line-height: 24px;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 400ms ease;
}

.efeito_3{
    width: 150px;
    background-color: #19F4E7;
}

.efeito_3:hover{
    background-color: rgba(0, 0, 0, 0);
    color: #19F4E7;
    box-shadow: inset 0 0 0  3px #19F4E7;
}

.efeito_4{
    background-color: #19F4E7;
}

.efeito_4:hover{
    animation: bounce 1s;
}

#sec1{
    width: 800px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    margin-top: 100px;
    color: #19F4E7;
    text-align: center;
}

#art1{
    width: 400px;
    height: 430px;
    border-radius: 20px;
    border-color: #19F4E7;
    border: #19F4E7 solid 1px;
    padding-top: 20px;
}

@media(max-width:800px){
    #sec1{
    width: 320px;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    margin-top: 100px;
    color: #19F4E7;
    text-align: center;
    }
}

@media(max-width:800px){
    #img{
        width:300px;
        height: 250px;
        margin: 0 auto;
    }
}

@media(max-width:800px){
    #art1{
        width: 250px;
        height: 450px;
        border-radius: 10px;
        border-color: #19F4E7;
        border: #19F4E7 solid 1px;
        padding-top: 20px;
        margin: 0 auto;
    }
}